@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  
    .logo img {
      width: 100px;
    }
  
    nav ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        margin-left: 20px;
  
        a {
          color: rgb(0, 0, 0);
          text-decoration: none;
          font-size: 16px;
          font-weight: bold;
          padding: 10px 15px;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #555;
            border-radius: 5px;
          }
        }
      }
    }
  }

  body{
    font-family: "Poppins";
    color: #ffffff;
    background-color: #000000;
    font-size: 15px;
    }
    .container {
     padding: 50px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  h1 {
      text-align: center;
      color: #0BE2A7;
  }
  
  .tournament-list {
      display: flex;
      flex-direction: column;
      gap: 20px; 
      width: 80%;
      height: 100vh;
      background-color: #2e2d2d ;
     
      border-radius: 20px;
      margin:20px;
      margin-top: 0;
      .sin-torneos{
        display: flex;
        justify-content: center; 
        align-items: center;
        height: 100%; 
        text-align: center;
        font-size: 18px; 
        box-shadow: #fff 1px;
      }

  }
  .mostrar-cruces{
    border-radius: 20px;
    background-color: #2e2d2d;
    width: 40%;
    color: #000;
    min-height: 100vh;
    height: max-content;
    .zona{
      background-color: #0BE2A7;
      padding: 10px;
      border-radius: 20px;
      margin-bottom: 10px;
      .partido{
        display: flex;
        justify-content: center;
        width: 100%;

      }
      
    }
    p{
      border: 2px solid rgb(255, 255, 255);
      width: 100%;
      padding: 10px;
    }
  }
  .tournament-card {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 15px;
      transition: transform 0.2s;
      text-align: start;
      h2 {
          margin: 0 0 10px;
          color: #0BE2A7; // Color del título
      }
  
      p {
          margin: 5px 0;
          color: #555; // Color del texto
      }
  
      .btn {
          display: inline-block;
          margin-top: 10px;
          padding: 10px 15px;
          background-color: #000000; // Color del botón
          color: #fff;
          border: none;
          border-radius: 4px;
          font-weight: 800;
          cursor: pointer;
          text-decoration: none; // Quita el subrayado en caso de que sea un enlace
          transition: background-color 0.2s;
  
          &:hover {
              color: #000;
              background-color: #ffffff;
              box-shadow: 5px 5px 5px rgb(60, 60, 60);
              transform: translateY(-5px); // Color del botón al pasar el mouse
          }
      }
      .borrar-torneo{
        color: rgb(255, 255, 255);
        background-color: rgb(253, 28, 28);

        &:hover{
          color: rgb(255, 0, 0);
          background-color: rgb(255, 255, 255);
          box-shadow: 5px 5px 5px rgb(60, 60, 60);
          transform: translateY(-5px);

        }
      }
  
      &:hover {
          transform: translateY(-5px); 
          background-color: #0BE2A7;
          color: #555;
          h2{
            color: #fff;
          }
      }
  }


    .tabla-jugadores{
      justify-content: center;
      font-size: 12px;
      .grilla-jugadores {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        align-items: center;
        button{
          border-radius: 20px;
          background-color: #ffffff;
          font-family: "Poppins";
          padding: 20px;
          width: auto;
          margin-top: 10px;
        }
        .renglon-lista {
          display: flex;
          justify-content: space-between;
          width: 100%;
          max-width: 1200px;
          height: 100%;
          p {
            border: 1px solid white;
            padding: 1px;
            text-align: center;
            width:100%;
            
            overflow: hidden; /* Oculta el contenido que desborda */
            text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es demasiado largo */
            height: 10%;
          }
        
          .idJug {
            width: 10%;
          }
          .zona{
            width: 20%;
          }
        }

        header{
          p{
            height: 10px;
          }
         
        }
      }
      

      }
    
    .tabla-zonas{
      justify-content: center;
      .zona{
          margin-bottom: 20px;
          justify-content: space-between;
          color: #000000;
          height: 100%;
          border: 1px solid rgb(0, 0, 0);
          background-color: #ffffff;
          justify-content: space-between;
          width: 100%;
          max-width: 1200px;
          height: 100%;
          border-radius: 20px ;
        .datos-zona{
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
          p{
            border: 1px solid rgb(0, 0, 0);
            padding: 8px 1px;
            
          }
        
          .cruce{
            width: 80%;
          }
          .horario{
            width: 20%;
          }
        }
      }
      .texto-exitoso{
        color: rgb(4, 234, 4);
        font-weight: 800;
      }
      #guardarTorneo{
        border-radius: 20px;
        background-color: #0BE2A7;
        font-family: "Poppins";
        padding: 20px;
        width: auto;
        color: #ffffff;
      }
      button{
        border-radius: 20px;
        background-color: #0BE2A7;
        font-family: "Poppins";
        padding: 20px;
        width: auto;
        color: #ffffff;
      }
    }
  
    .fechas-torneo{
      display: flex;
      flex-wrap: wrap;
    }
      section{
          text-align: center;
          padding: 5px;
          .cargar-jugador{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
           
            
            
            .nom-jugadores{
              display: flex;
              flex-direction: column;
              width: 80%;
              align-self: center;
              
            }
            
            button{
              border-radius: 20px;
              background-color: #ffffff;
              font-family: "Poppins";
              padding: 20px;
              width: auto;
          }
          }
          
          form{
              display: flex;
              flex-direction: column;
              padding: 10px;
              .placeholder{
                text-align: start;
                margin: 5px;
                margin-left: 10px;
              }
              input{
                  background-color: #00000030;
                  margin: 5px;
                  border-radius: 20px;
                  padding: 5px;
                  font-family: "Poppins" ;
                  color: #ffffff;
                
              }
             
              .alerta{
                color: red;
                text-align: start;
                padding: 5px;
                font-weight:500;
                
              }
              select{
                background-color: #000000;
                color: #ffffff;
                font-family: "Poppins";
                padding: 10px;
                border-radius: 20px;
                option{
                  background-color: #000000;
                  border: 1px solid;
                }
              }
              button{
                  border-radius: 20px;
                  background-color: #ffffff;
                  font-family: "Poppins";
                  padding: 20px;
                  width: auto;
              }
              .fechas-disponible{
                  display: flex;
                  justify-content: center;
                  gap: 43px;
                 
                  div{
                      display: flex;
                      flex-direction: column;
                      p{
                        margin-bottom: 5px;
                      }
                      
                      }
                  }
              }
          }

          .subtitulo{
            font-size: 15px;
            color: #5f5e5e;
            margin-bottom: 10px;
          }
          .my-confirm-button {
            color: #000000;      /* Cambia el color del texto del botón de confirmación */
            background-color: #ffffff;  /* Fondo negro */
        }